<!-- myCSS -->

.celdaSel {text-decoration:none; padding-top: 12px; padding-bottom: 12px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 18px;}
.celda { decoloration: none; padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #ff9933;}
.row { decoloration: none;color: black; height: 30px;}
.evenRow { background-color: #EEEEAA }
#stats th { background-color: #113311; color: #FFFFFF }